* {
  margin: 0;
  padding: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: red;
}
h2 {
  color: orangered;
  margin: 20px;
  text-decoration: underline;
}

header {
  background-color: darkgray;
  padding: 50px;
}
.section1 {
  background-color: aqua;
  padding: 50px;
}
.section2 {
  background-color: azure;
  padding: 50px;
}
.section3 {
  background-color: chartreuse;
  padding: 50px;
}
.section4 {
  background-color: green;
  padding: 50px;
}

ol {
  color: blue;
}
/*me gusto y lo afane*/
/*retoque tamanio y alineamento del campo cantidad*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td:last-child {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

img {
  margin: 0px 10px;
  border: 3px solid;
}
footer {
  height: 70px;
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}
